//-
  ArrowFoodAdmin
  Copyright © 2014 Ian Zachary Ledrick, also known as Thisita.
   
  This file is part of ArrowFoodAdmin.
   
  ArrowFoodAdmin is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
   
  ArrowFoodAdmin is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
   
  You should have received a copy of the GNU General Public License
  along with ArrowFoodAdmin.  If not, see <http://www.gnu.org/licenses/>.
extends layout

block content
  h3 Edit a menu
  p Enter menu details:
  div
  form(action='',method='post')
    div(data-role='fieldcontain')
      fieldset(data-role='controlgroup')
        label(for='restaurantName') Restaurant name:
          select(id='restaurantName')
    div(data-role='fieldcontain')
      fieldset(data-role='controlgroup')
        label(for='menuName') Menu:
          select(id='menuName')
    div Please note that changing the above fields will overwrite any changes below
    div(data-role='fieldcontain')
      fieldset(data-role='controlgroup')
        label(for='nrestaurant') New Restaurant Name:
           input(id='nrestaurant',type='text',value='',name='nrestaurant')
    div(data-role='fieldcontain')
      fieldset(data-role='controlgroup')
        label(for='nname') New Menu Name:
           input(id='nname',type='text',value='',name='nname')
    div(data-role='fieldcontain')
      input(type='submit',value='Submit',data-transition='fade', data-theme='c')
      
  script(src="/javascripts/menuEdit.js").