//-
  ArrowFoodAdmin
  Copyright © 2014 Ian Zachary Ledrick, also known as Thisita.
   
  This file is part of ArrowFoodAdmin.
   
  ArrowFoodAdmin is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
   
  ArrowFoodAdmin is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
   
  You should have received a copy of the GNU General Public License
  along with ArrowFoodAdmin.  If not, see <http://www.gnu.org/licenses/>.
extends layout

block content
  h3 Add menu items
  p Enter menu item details:
  div
  form(action='http://rest.arrow.thisita.net/menu/',method='post')
    div(data-role='fieldcontain')
      fieldset(data-role='controlgroup')
        label(for='name') Name:
          input(id='name',type='text',value='',name='name')
    div(data-role='fieldcontain')
      fieldset(data-role='controlgroup')
        label(for='price') Price:
          input(id='price',type='text',value='',name='price')
    div(data-role='fieldcontain')
      fieldset(data-role='controlgroup')
        label(for='description') Description:
          input(id='description',type='text',value='',name='description')
    div(data-role='fieldcontain')
      fieldset(data-role='controlgroup')                                           
        label(for='options') Options:
          select(id='options')
            option(value='required') Required
            option(value='select') Select
            option(value='checkbox') Checkbox
            option(value='radio') Radio
            option(value='text') Text
    div(data-role='fieldcontain')
      input(type='submit',value='Submit',data-transition='fade', data-theme='c')