//-
  ArrowFoodAdmin
  Copyright © 2014 Ian Zachary Ledrick, also known as Thisita.
   
  This file is part of ArrowFoodAdmin.
   
  ArrowFoodAdmin is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
   
  ArrowFoodAdmin is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
   
  You should have received a copy of the GNU General Public License
  along with ArrowFoodAdmin.  If not, see <http://www.gnu.org/licenses/>.
extends layout

block content
  h3 Add a restaurant
  p Enter restaurant details:
  div
  form(action='http://rest-arrow.herokuapp.com/restaurant/' id="restaurantAddForm")
    div(data-role='fieldcontain')
      fieldset(data-role='controlgroup')
        label(for='name') Name:
           input(id='name',type='text',value='',name='name')
    div(data-role='fieldcontain')
      fieldset(data-role='controlgroup')
        label(for='address') Address:
           input(id='address',type='address',value='',name='address')
    div(data-role='fieldcontain')
      fieldset(data-role='controlgroup')
        label(for='email') Email:
           input(id='email',type='email',value='',name='email')
    div(data-role='fieldcontain')
      fieldset(data-role='controlgroup')
        label(for='phone') Phone:
           input(id='phone',type='phone',value='',name='phone')
    div(data-role='fieldcontain')   
      input(type='submit',value='Submit',data-transition='fade', data-theme='c') 
  script.
    window.onload = function(){
      $("#restaurantAddForm").submit(function(event)
      {
        // stop form from submitting normally
        event.preventDefault();
  
        var $form = $(this), 
          restaurantName = $form.find("input[name='name']").val(),
          restaurantAddress = $form.find("input[name='address']").val(),
          restaurantEmail = $form.find("input[name='email']").val(),
          restaurantPhone = $form.find("input[name='phone']").val(),
          url = $form.attr("action");
  
        $.post(url, { name: restaurantName, addresses: [ name: "default", line1: restaurantAddress, line2: null, city: "Louisville", state: "KY", zip: "40203" ], 
          emails: [ name: "default", address: restaurantEmail ], phones: [ name: "default", number: restaurantPhone ] });
        return false;
      });
    };